#
# AzerothCore
#

/conf/*
!/conf/dist

# --- MODULES (TRACKED) ---
/modules/*
!/modules/*.md
!/modules/*.sh
!/modules/CMakeLists.txt
!/modules/*.h
!/modules/*.cmake
!/modules/mod-*/**
# ------------------------

/build*/
/var/*
!/var/build/.gitkeep
!/var/ccache/.gitkeep
/env/dist/*
!/env/dist/.gitkeep
/env/user/*
/.env*
/apps/joiner
/deps/deno
/data/sql/custom/*
/src/server/scripts/Custom/*
!/src/server/scripts/Custom/README.md

/*.override.yml
/*.override.yaml

!.gitkeep

/out/*

#
# Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

#
# IDE
#
/.settings/
/.externalToolBuilders/*
/.vs
/out
nbproject/
.idea
cmake-build-*/*
coverage-report/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#
# CUSTOM
#
.cache
compile_commands.json
